<div class="container">
  <div>
    <%= link_to create_room_path, remote: true, class: 'create_room' do %>
      <span class="icon_plus">＋</span>
    <% end %>
  </div>

  <ul id="chat_rooms" class="chat_rooms">
    <% Array(@chat_rooms).each do |room| %>
      <%= render partial: 'room', locals: {room: room, initialized: false} %>
    <% end %>
  </ul>
</div>

<!-- <ul id="chat_area"></ul>

<input type="text" name="" value="" id="comment">
<input type="button" value="送信" id="send">

<script>
  var ws_rails = new WebSocketRails('localhost:3000/websocket');

  // メッセージ受信時の処理
  ws_rails.bind("websocket_chat", function(message){
    var message_li = document.createElement("li");
    message_li.textContent = message;
    document.getElementById("chat_area").appendChild(message_li);
  });

  // メッセージ送信時の処理
  document.getElementById("send").onclick =  function(){
    var comment = document.getElementById("comment").value;
    ws_rails.trigger("websocket_chat", comment);
  };
</script> -->