<div id="room_id" style="display: none;"><%= @chat_room.id %></div>
<div id="timeline">
  <div id="chat" data-uri="<%= request.host %>:3001/websocket">
    <ul id="messages">
    </ul>
  </div>
  </div>
</div>

<form id="chat_form" action="show_submit" method="get" accept-charset="utf-8">
<div class="form-group">
    <input class="form-control" type="text" name="" value="" placeholder="" id="msgbody">
    <input class="form-control btn btn-primary" type="button" name="" value="send" id="send">
  </div>
</form>
